<div class="flex-center-between">
  <img src="/assets/images/Kanghoon-Orange.svg" class="avatar" />

  <img src="/assets/images/Eunah-Orange.svg" class="avatar" />

  <img src="/assets/images/Suhyun-Orange.svg" class="avatar" />

  <img src="/assets/images/Jiwoo-Orange.svg" class="avatar" />

  <img src="/assets/images/Chaerin-Orange.svg" class="avatar" />

  <img src="/assets/images/Hajun-Orange.svg" class="avatar" />
</div>

<div class="break-keep">
  나를 드러낼 걱정 없이 자유롭게 이야기를 나눠보세요. 필로에서 당신은
  익명입니다.
</div>

<div class="flex-center-end">
  <button
    type="button"
    class="flex-center gap-1 text-sm text-black/50 hover:text-orange-500/75 active:text-orange-500"
  >
    <app-icon-circle-help class="size-4"></app-icon-circle-help>
    자세히 알고싶어요
  </button>
</div>
