<svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M9.80664 4V20"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M13.8066 4V8.14992V15.8755V20"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M15.8066 4H6.30664C5.11317 4 3.96857 4.47411 3.12466 5.31802C2.28075 6.16193 1.80664 7.30653 1.80664 8.5C1.80664 9.69347 2.28075 10.8381 3.12466 11.682C3.96857 12.5259 5.11317 13 6.30664 13H9.80664"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19.686 9.49268V14.5073"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M17.1787 12H22.1934"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
