<svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M13.5588 3.63794H5.64209C4.64753 3.63794 3.6937 4.07844 2.99044 4.86253C2.28718 5.64663 1.89209 6.71009 1.89209 7.81897C1.89209 8.92785 2.28718 9.99131 2.99044 10.7754C3.6937 11.5595 4.64753 12 5.64209 12H8.55876"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M8.55884 3.63794V20.3619"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M11.8923 3.63794V20.3619"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M18.6079 8.5V15.5"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M15.1079 12H22.1079"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
