@if (displayLeftButton()) {
  <div
    [ngStyle]="leftButtonStyles()"
    class="absolute z-50 flex size-8 items-center justify-center rounded-full bg-white shadow-lg dark:bg-dark-background"
  >
    <button (click)="toLeft()" type="button" appIconButton>
      <i-lucide [img]="ChevronLeftIcon"></i-lucide>
    </button>
  </div>
}

<ng-content></ng-content>

@if (displayRightButton()) {
  <div
    [ngStyle]="rightButtonStyles()"
    class="absolute z-50 flex size-8 items-center justify-center rounded-full bg-white shadow-lg dark:bg-dark-background"
  >
    <button (click)="toRight()" type="button" appIconButton>
      <i-lucide [img]="ChevronRightIcon"></i-lucide>
    </button>
  </div>
}
