<div
  class="flex items-center justify-start px-4 text-sm text-black/50 empty:hidden dark:text-white/50"
>
  <!-- Render label -->
  <ng-content select="label"></ng-content>

  @if (required()) {
    <i-lucide [img]="AsteriskIcon" class="size-3 text-red-500"></i-lucide>
  }
</div>

<!-- Render input, textarea, select -->
<div
  [ngClass]="controlClasses()"
  class="control group flex h-11 w-full items-stretch justify-center gap-2 rounded-[1.375rem] border-2 border-solid border-transparent px-5 transition-colors has-[textarea]:h-auto has-[textarea]:min-h-11"
>
  <div
    class="flex w-auto shrink grow basis-auto items-center py-2 *:w-full *:appearance-none *:bg-transparent"
  >
    <ng-content select="input, textarea, select"></ng-content>
  </div>

  <div
    class="hidden items-start pt-1 group-has-[input:not([type=date]):focus,textarea:focus]:flex"
  >
    <button
      (mousedown)="resetValue($event)"
      type="button"
      tabindex="-1"
      class="-mr-4"
      appIconButton
    >
      <i-lucide [img]="XIcon" class="scale-90"></i-lucide>
    </button>
  </div>

  <div class="hidden items-start pt-1 group-has-[select]:flex">
    <button type="button" tabindex="-1" class="-mr-4" appIconButton>
      <i-lucide [img]="ChevronDownIcon" class="scale-90"></i-lucide>
    </button>
  </div>

  <div class="hidden items-start pt-1 group-has-[input[type=date]]:flex">
    <button
      (mousedown)="openCalendar($event)"
      type="button"
      tabindex="-1"
      class="-mr-4"
      appIconButton
    >
      <i-lucide [img]="CalendarIcon" class="scale-90"></i-lucide>
    </button>
  </div>
</div>

<div class="flex w-full flex-col items-stretch px-4">
  <!-- Render hints and errors -->
  <ng-content></ng-content>
</div>

<ng-template #calendar>
  <app-backdrop @fadeInOut></app-backdrop>

  <app-modal
    @fadeInOut
    @slideInOutBottom
    class="md:max-w-90"
    modalTitle="날짜 선택"
    displayCloseButton
  >
    <app-calendar
      (selectedDateChange)="onSelectedDateChange($event)"
      [selectedDate]="currentDate"
      [minDate]="fromDate || minDate"
      [maxDate]="toDate || maxDate"
      [fromDate]="fromDate"
      [toDate]="toDate"
      [theme]="theme()"
      bottomActionsJustify="between"
      withBottomActionsBorder
    ></app-calendar>
  </app-modal>
</ng-template>
