<div class="flex-center-start label text-sm text-primary-500 empty:hidden">
  <!-- Render label -->
  <ng-content select="label"></ng-content>

  @if (required()) {
    <app-icon-asterisk class="size-3 text-red-500"></app-icon-asterisk>
  }
</div>

<!-- Render input, textarea, select -->
<div
  class="control-container flex w-full items-center justify-center transition-all"
>
  <ng-content select="input, textarea, select, app-date-input"></ng-content>

  <button
    (click)="resetValue()"
    tabindex="-1"
    type="button"
    class="input-close hidden text-black/50"
  >
    <app-icon-x class="size-4"></app-icon-x>
  </button>

  <button tabindex="-1" type="button" class="select-button hidden">
    <app-icon-chevron-down class="size-4"></app-icon-chevron-down>
  </button>
</div>

<div class="bottom-container w-full">
  <!-- Render hints and errors -->
  <ng-content></ng-content>
</div>
