<app-checkbox theme="blue">체크박스</app-checkbox>
<app-checkbox theme="blue" disabled>체크박스</app-checkbox>
<app-checkbox theme="blue" disabled checked>체크박스</app-checkbox>
<app-checkbox theme="red">체크박스</app-checkbox>
<app-checkbox theme="sky">체크박스</app-checkbox>
<div class="flex items-center justify-end">
  <app-checkbox theme="emerald"></app-checkbox>
</div>

<div class="flex flex-wrap items-center justify-start gap-1">
  <button
    type="button"
    theme="slate"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="gray"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="zinc"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="neutral"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="stone"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="red"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="orange"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="amber"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="yellow"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="lime"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="green"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="emerald"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="teal"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="cyan"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="sky"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="blue"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="indigo"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="violet"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="purple"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="fuchsia"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="pink"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="rose"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    theme="rose"
    disabled
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
</div>

<div class="flex flex-wrap items-center justify-start gap-1">
  <button
    type="button"
    mode="fill"
    theme="slate"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="gray"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="zinc"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="neutral"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="stone"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="red"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="orange"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="amber"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="yellow"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="lime"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="green"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="emerald"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="teal"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="cyan"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="sky"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="blue"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="indigo"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="violet"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="purple"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="fuchsia"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="pink"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="rose"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="fill"
    theme="rose"
    disabled
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
</div>

<div class="flex flex-wrap items-center justify-start gap-1">
  <button
    type="button"
    mode="transparent"
    theme="slate"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="gray"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="zinc"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="neutral"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="stone"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="red"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="orange"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="amber"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="yellow"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="lime"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="green"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="emerald"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="teal"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="cyan"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="sky"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="blue"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="indigo"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="violet"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="purple"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="fuchsia"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="pink"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="rose"
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
  <button
    type="button"
    mode="transparent"
    theme="rose"
    disabled
    appFlatButton
    class="shrink-0 grow-0 basis-auto"
  >
    Button
  </button>
</div>

<button (click)="openOverlay(bottomSheet)" type="button" appFlatButton>
  Bottom Sheet
</button>

<ng-template #bottomSheet>
  <app-backdrop @fadeInOut></app-backdrop>

  <app-bottom-sheet
    @fadeInOut
    @slideInOutBottomFull
    class="md:max-w-80"
    modalTitle="바텀시트는 이렇게"
    displayCloseButton
  >
    이거딩~
  </app-bottom-sheet>
</ng-template>

<button (click)="openOverlay(confirmSheet)" type="button" appFlatButton>
  Confirm Sheet
</button>

<ng-template #confirmSheet>
  <app-backdrop @fadeInOut></app-backdrop>

  <app-bottom-sheet
    @fadeInOut
    @slideInOutBottomFull
    class="md:max-w-80"
    modalTitle="Confirm"
    displayCloseButton
  >
    <app-confirm cancelMode="transparent" displayCancelButton>
      이건 확인을 위한 컨펌 모달입니다
    </app-confirm>
  </app-bottom-sheet>
</ng-template>

<button (click)="openOverlay(confirmModal)" type="button" appFlatButton>
  Confirm Modal
</button>

<ng-template #confirmModal>
  <app-backdrop @fadeInOut></app-backdrop>

  <app-modal
    @fadeInOut
    class="md:max-w-80"
    modalTitle="Confirm"
    displayCloseButton
  >
    <app-confirm cancelMode="transparent" displayCancelButton>
      이건 확인을 위한 컨펌 모달입니다
    </app-confirm>
  </app-modal>
</ng-template>

<label>Not multiple</label>

<input
  (filesChange)="fileOrFilesChange($event)"
  (fileChange)="fileOrFilesChange($event)"
  (fileError)="openToast($event.message)"
  type="file"
  appFileHandler
  [limit]="5 * KB"
  accept="image/*"
/>

<label>Multiple</label>

<input
  (filesChange)="fileOrFilesChange($event)"
  (fileChange)="fileOrFilesChange($event)"
  (fileError)="openToast($event.message)"
  type="file"
  appFileHandler
  [limit]="5 * KB"
  accept="image/*"
  multiple
/>

<app-form-field>
  <label>필드</label>

  <input />
</app-form-field>

<app-form-field theme="emerald">
  <label>필드</label>

  <select>
    <option>Option 1</option>

    <option>Option 2</option>

    <option>Option 3</option>
  </select>
</app-form-field>

<app-form-field>
  <label>필드</label>

  <textarea appAutoResizer></textarea>
</app-form-field>

<app-form-field theme="amber">
  <label>필드</label>

  <input type="date" max="9999-12-31" min="2025-06-01" />
</app-form-field>

<app-form-field theme="violet">
  <label>시작일</label>

  <input
    #startDate
    [attr.data-to-date]="endDate.value"
    [max]="endDate.value < '9999-12-31' ? endDate.value : '9999-12-31'"
    type="date"
    min="2025-06-01"
  />
</app-form-field>

<app-form-field theme="red">
  <label>종료일</label>

  <input
    #endDate
    [attr.data-from-date]="startDate.value"
    [min]="startDate.value > '2025-06-01' ? startDate.value : '2025-06-01'"
    type="date"
    max="9999-12-31"
  />

  <app-field-hint>이게 힌트일 리 없어</app-field-hint>

  <app-field-error>이게 오류일 리 없고</app-field-error>
</app-form-field>

<app-google-oauth-button></app-google-oauth-button>
<app-google-oauth-button theme="red"></app-google-oauth-button>
<app-google-oauth-button theme="green" mode="fill"></app-google-oauth-button>

<app-radio-group>
  <app-radio value="1">Value 1</app-radio>
  <app-radio value="2">Value 2</app-radio>
  <app-radio value="3">Value 3</app-radio>
</app-radio-group>

<app-radio-group direction="row" theme="emerald">
  <app-radio value="1">Value 1</app-radio>
  <app-radio value="2">Value 2</app-radio>
  <app-radio value="3">Value 3</app-radio>
</app-radio-group>

<app-field>
  <label>필드</label>

  <app-radio-group direction="row" theme="zinc">
    <app-radio value="1">Value 1</app-radio>
    <app-radio value="2">Value 2</app-radio>
    <app-radio value="3">Value 3</app-radio>
  </app-radio-group>
</app-field>

<app-field required>
  <label>필드</label>

  <app-radio-group theme="slate">
    <app-radio value="1">Value 1</app-radio>
    <app-radio value="2">Value 2</app-radio>
    <app-radio value="3">Value 3</app-radio>
  </app-radio-group>
</app-field>

<app-spinner class="size-8" theme="blue"></app-spinner>
<app-spinner class="size-7" theme="red"></app-spinner>
<app-spinner class="size-6" theme="emerald"></app-spinner>
<app-spinner class="size-5" theme="emerald"></app-spinner>

<app-wysiwyg-editor [state]="editorState"></app-wysiwyg-editor>

<app-wysiwyg-editor-actions></app-wysiwyg-editor-actions>

<app-card
  class="flex max-w-screen-sm flex-col items-stretch overflow-auto"
  withBorder
>
  <div class="flex flex-col items-stretch gap-4 p-4">
    <app-form-field theme="indigo" required>
      <label>이메일</label>

      <input type="email" />
    </app-form-field>

    <app-form-field theme="indigo" required>
      <label>패스워드</label>

      <input type="password" />
    </app-form-field>

    <app-form-field theme="indigo" required>
      <label>자기소개</label>

      <textarea appImeInput appAutoResizer></textarea>
    </app-form-field>

    <app-form-field theme="indigo" required>
      <label>지역</label>

      <select>
        <option>사천</option>

        <option>서울</option>
      </select>
    </app-form-field>

    <app-field required>
      <label>성별</label>

      <app-radio-group theme="indigo">
        <app-radio value="남자">남자</app-radio>

        <app-radio value="여자">여자</app-radio>
      </app-radio-group>
    </app-field>

    <app-checkbox theme="indigo">개인 정보 처리방침에 동의합니다</app-checkbox>
  </div>

  <app-overlay-actions justify="right">
    <button type="submit" theme="indigo" appFlatButton>제출하기</button>
  </app-overlay-actions>
</app-card>

<app-card
  class="draggable-container flex max-w-screen-sm flex-col items-stretch p-4"
>
  <app-card #draggable class="flex items-center justify-between p-4" withBorder>
    <div>할 일이 많지1</div>

    <app-checkbox></app-checkbox>
  </app-card>

  <app-card #draggable class="flex items-center justify-between p-4" withBorder>
    <div>할 일이 많지2</div>

    <app-checkbox></app-checkbox>
  </app-card>

  <app-card #draggable class="flex items-center justify-between p-4" withBorder>
    <div>할 일이 많지3</div>

    <app-checkbox></app-checkbox>
  </app-card>
</app-card>

<button
  (click)="
    openOverlay(messageOverlayEmerald, {
      preventOutsideClosing: true,
      allowDuplicated: true,
    })
  "
  type="button"
  theme="emerald"
  appFlatButton
>
  Message Overlay
</button>

<ng-template #messageOverlayEmerald>
  <app-message-overlay @fadeInOut @slideInOutBottomFull theme="emerald">
    <i-lucide [img]="PartyPopperIcon" messageIcon></i-lucide>

    <ng-container messageTitle>축하합니다!</ng-container>

    <ng-container messageContent>
      새로운 할 일이 등록 되었어요. 다음은 어떤 일을 하고싶으신가요?
    </ng-container>
  </app-message-overlay>
</ng-template>

<button
  (click)="
    openOverlay(messageOverlayCyan, {
      preventOutsideClosing: true,
      allowDuplicated: true,
    })
  "
  type="button"
  theme="cyan"
  appFlatButton
>
  Message Overlay
</button>

<ng-template #messageOverlayCyan>
  <app-message-overlay @fadeInOut @slideInOutBottomFull theme="cyan">
    <i-lucide [img]="PartyPopperIcon" messageIcon></i-lucide>

    <ng-container messageTitle>축하합니다!</ng-container>

    <ng-container messageContent>
      새로운 할 일이 등록 되었어요. 다음은 어떤 일을 하고싶으신가요?
    </ng-container>
  </app-message-overlay>
</ng-template>

<button
  (click)="
    openOverlay(messageOverlayRose, {
      preventOutsideClosing: true,
      allowDuplicated: true,
    })
  "
  type="button"
  theme="rose"
  appFlatButton
>
  Message Overlay
</button>

<ng-template #messageOverlayRose>
  <app-message-overlay @fadeInOut @slideInOutBottomFull theme="rose">
    <i-lucide [img]="BugIcon" messageIcon></i-lucide>

    <ng-container messageTitle>버그가 발견되었습니다.</ng-container>

    <ng-container messageContent>
      빠른 시일 내에 버그를 수정할 수 있도록 하겠습니다.
    </ng-container>
  </app-message-overlay>
</ng-template>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar #sideBar class="w-80" position="left" withShadow>
    <button (click)="sideBar.close()" type="button" appFlatButton>
      사이드바 닫기
    </button>
  </app-side-bar>

  <div class="flex flex-col items-stretch">
    <div class="flex items-center justify-start gap-1">
      <button (click)="sideBar.open()" type="button" appFlatButton>
        사이드바 열기
      </button>

      <button (click)="sideBar.toggle()" type="button" appFlatButton>
        사이드바 토글
      </button>
    </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar #sideBar2 class="w-80" position="left" withShadow>
    <div class="flex items-center justify-end p-4">
      @if (sideBar2.isOpened()) {
        <button (click)="sideBar2.close()" type="button" appIconButton>
          <i-lucide [img]="PanelLeftCloseIcon"></i-lucide>
        </button>
      }
    </div>
  </app-side-bar>

  <div class="flex flex-col items-stretch p-4">
    <div class="flex items-center justify-start gap-1">
      @if (!sideBar2.isOpened()) {
        <button
          @fadeInOut
          (click)="sideBar2.open()"
          type="button"
          appIconButton
        >
          <i-lucide [img]="PanelLeftOpenIcon"></i-lucide>
        </button>
      }
    </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar
    #sideBar3
    class="z-10 w-80 bg-white"
    position="left"
    keepSize="1.25rem"
    withShadow
  >
    <div class="flex items-center justify-end p-4">
      <div
        class="absolute right-0 top-4 z-50 flex size-9 translate-x-1/2 items-center justify-center rounded-full border border-black/15 bg-white shadow-2xl"
      >
        <button (click)="sideBar3.toggle()" type="button" appIconButton>
          @if (sideBar3.isOpened()) {
            <i-lucide [img]="PanelLeftCloseIcon"></i-lucide>
          } @else {
            <i-lucide [img]="PanelLeftOpenIcon"></i-lucide>
          }
        </button>
      </div>
    </div>
  </app-side-bar>

  <div class="flex flex-col items-stretch p-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar
    #sideBar4
    class="z-10 w-80 bg-white"
    position="left"
    keepSize="1.25rem"
    overlapContent
    withShadow
  >
    <div class="flex items-center justify-end p-4">
      <div
        class="absolute right-0 top-4 z-50 flex size-9 translate-x-1/2 items-center justify-center rounded-full border border-black/15 bg-white shadow-2xl"
      >
        <button (click)="sideBar4.toggle()" type="button" appIconButton>
          @if (sideBar4.isOpened()) {
            <i-lucide [img]="PanelLeftCloseIcon"></i-lucide>
          } @else {
            <i-lucide [img]="PanelLeftOpenIcon"></i-lucide>
          }
        </button>
      </div>
    </div>
  </app-side-bar>

  <div class="flex flex-col items-stretch p-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar #sideBar5 class="w-80" position="right" withShadow>
    <button (click)="sideBar5.close()" type="button" appFlatButton>
      사이드바 닫기
    </button>
  </app-side-bar>

  <div class="flex flex-col items-stretch">
    <div class="flex items-center justify-start gap-1">
      <button (click)="sideBar5.open()" type="button" appFlatButton>
        사이드바 열기
      </button>

      <button (click)="sideBar5.toggle()" type="button" appFlatButton>
        사이드바 토글
      </button>
    </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar #sideBar6 class="w-80" position="right" withShadow>
    <div class="flex items-center justify-end p-4">
      @if (sideBar6.isOpened()) {
        <button (click)="sideBar6.close()" type="button" appIconButton>
          <i-lucide [img]="PanelRightCloseIcon"></i-lucide>
          c
        </button>
      }
    </div>
  </app-side-bar>

  <div class="flex flex-col items-stretch p-4">
    <div class="flex items-center justify-end gap-1">
      @if (!sideBar6.isOpened()) {
        <button
          @fadeInOut
          (click)="sideBar6.open()"
          type="button"
          appIconButton
        >
          <i-lucide [img]="PanelRightOpenIcon"></i-lucide>
        </button>
      }
    </div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar
    #sideBar7
    class="z-10 w-80 bg-white"
    position="right"
    keepSize="1.25rem"
    withShadow
  >
    <div class="flex items-center justify-end p-4">
      <div
        class="absolute left-0 top-4 z-50 flex size-9 -translate-x-1/2 items-center justify-center rounded-full border border-black/15 bg-white shadow-2xl"
      >
        <button (click)="sideBar7.toggle()" type="button" appIconButton>
          @if (sideBar7.isOpened()) {
            <i-lucide [img]="PanelRightCloseIcon"></i-lucide>
          } @else {
            <i-lucide [img]="PanelRightOpenIcon"></i-lucide>
          }
        </button>
      </div>
    </div>
  </app-side-bar>

  <div class="flex flex-col items-stretch p-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
    nec condimentum metus dui a felis.
  </div>
</app-side-bar-container>

<app-side-bar-container
  class="aspect-video max-w-screen-md overflow-hidden rounded-3xl border border-black/15"
>
  <app-side-bar
    #sideBar8
    class="z-10 w-80 bg-white"
    position="right"
    keepSize="1.25rem"
    overlapContent
    withShadow
  >
    <div class="flex items-center justify-end p-4">
      <div
        class="absolute left-0 top-4 z-50 flex size-9 -translate-x-1/2 items-center justify-center rounded-full border border-black/15 bg-white shadow-2xl"
      >
        <button (click)="sideBar8.toggle()" type="button" appIconButton>
          @if (sideBar8.isOpened()) {
            <i-lucide [img]="PanelRightCloseIcon"></i-lucide>
          } @else {
            <i-lucide [img]="PanelRightOpenIcon"></i-lucide>
          }
        </button>
      </div>
    </div>
  </app-side-bar>

  <div class="flex flex-col items-stretch p-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac neque
    mauris. Maecenas pulvinar enim non iaculis tincidunt. Praesent interdum
    commodo quam at varius. Sed vitae ex varius, ornare libero vulputate, ornare
    tortor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur nibh arcu, tempus nec blandit sit
    amet, facilisis nec risus. Suspendisse vestibulum est metus. Pellentesque ut
    est vitae quam tempus laoreet ac quis urna. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
    Suspendisse gravida nunc id eleifend egestas. Vestibulum laoreet aliquet
    turpis ut luctus. Donec dictum nisi vitae gravida volutpat. Nullam interdum,
    tortor vitae viverra dignissim, felis sapien posuere sapien, et vulputate
    nulla nisi id dui. Ut et malesuada nibh. Praesent posuere a nulla et
    convallis. Fusce consequat tellus sed quam tincidunt fermentum. Sed gravida
    convallis dui sit amet tempor. Cras id erat finibus quam porttitor porttitor
    ut vel massa. Aliquam mollis vulputate lacus, ac maximus ligula varius quis.
    Nulla sollicitudin, augue fringilla porta ultricies, sapien erat tempor est,
    non tempus mauris enim blandit nibh. Aliquam erat volutpat. Etiam vitae
    vulputate lacus, ut pharetra lectus. Donec non sapien mauris. Duis sed erat
    ut elit consequat porta non sed nulla. Vestibulum dictum erat vitae neque
    ullamcorper, nec aliquet erat dignissim. Phasellus non tellus porta elit
    eleifend rutrum. Sed ultricies turpis velit, vel egestas mi placerat eu. Ut
    aliquet tincidunt tempus. Aliquam nec elementum lacus, a tincidunt lacus.
    Duis diam eros, semper a molestie ac, tempor a mi. Morbi lobortis, magna id
    pulvinar ullamcorper, purus velit imperdiet nulla, sed finibus orci nunc in
    velit. Nam sit amet libero finibus, mollis dolor eget, blandit metus. Sed
    aliquet dui non mi pharetra ornare. Duis a tempor tellus. Donec vel suscipit
    tortor, at vestibulum lacus. Proin at rhoncus nisi. Sed dignissim diam nibh,
    ut feugiat tellus iaculis id. Curabitur eu varius metus, et tincidunt urna.
    Suspendisse velit sem, tempor non fringilla ac, pharetra faucibus nunc. Cras
    eleifend pharetra magna sit amet posuere. Aliquam ut nisl vel massa
    pellentesque eleifend eu vehicula felis. Donec vitae elit nec arcu cursus
    mattis sed vel dolor. Etiam eleifend nisi nibh, ac suscipit odio efficitur
    sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    molestie malesuada ex, eu pretium urna aliquam sed. Donec laoreet lorem at
    erat sodales congue. Aenean tempus felis eget consectetur tincidunt. Aliquam
    commodo, enim id laoreet blandit, dolor orci aliquam nibh, et vulputate
    nulla elit vitae felis. Donec accumsan dui id placerat lacinia. Sed tempor
    ullamcorper augue, sed finibus diam sollicitudin quis. Suspendisse porttitor
    elementum consectetur. Phasellus sollicitudin pellentesque euismod. Mauris
    luctus auctor urna, sed volutpat justo. Mauris nec sem elementum, placerat
    magna vel, sollicitudin enim. Donec non orci vel enim pretium mollis id ut
    arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Mauris fermentum erat nec purus commodo commodo. Nunc
    porta, nunc sed luctus posuere, eros tortor finibus turpis, ut aliquam urna
    erat fermentum sapien. Vestibulum finibus et velit vitae varius. Suspendisse
    vitae sem at purus semper suscipit vitae quis augue. Suspendisse rhoncus
    neque a suscipit vestibulum. Suspendisse euismod leo a mauris aliquet
    egestas. Ut porta, massa ac mollis convallis, mauris purus tristique odio,
    nec condimentum metus dui a felis.
  </div>
</app-side-bar-container>

<button (click)="openOverlay(sideBarOverlayLeft)" type="button" appFlatButton>
  SideBarOverlay Open
</button>

<ng-template #sideBarOverlayLeft>
  <app-backdrop @fadeInOut></app-backdrop>

  <app-side-bar-overlay @fadeInOut position="left">
    Left Sidebar
  </app-side-bar-overlay>
</ng-template>
