<form
  (ngSubmit)="submitToSave()"
  [formGroup]="formGroup"
  class="flex flex-col items-stretch"
>
  <div class="flex flex-col items-stretch px-4 pb-4">
    <app-form-field [theme]="theme()">
      <label>URL</label>

      <input
        type="url"
        autocomplete="off"
        spellcheck="false"
        formControlName="url"
        appAutoFocus
        appImeInput
      />

      @if (formGroup.hasError("required", "url")) {
        <app-field-error>URL을 입력해주세요</app-field-error>
      }
    </app-form-field>
  </div>

  <app-bottom-actions
    [justify]="bottomActionsJustify()"
    [withBorder]="withBottomActionsBorder()"
  >
    <button
      (click)="$event.stopPropagation()"
      [disabled]="formGroup.invalid"
      [theme]="theme()"
      type="submit"
      appFlatButton
    >
      저장하기
    </button>
  </app-bottom-actions>
</form>
