<div class="break-keep px-4 pb-4">
  <ng-content></ng-content>
</div>

<app-bottom-actions
  [justify]="bottomActionsJustify()"
  [withBorder]="withBottomActionsBorder()"
>
  @if (displayCancelButton()) {
    <button
      (click)="clickCancel.emit(); close()"
      [theme]="cancelTheme()"
      [mode]="cancelMode()"
      type="button"
      appButton
    >
      {{ overrideCancelLabel() || "취소" }}
    </button>
  }

  <button
    (click)="clickConfirm.emit(); close()"
    [theme]="confirmTheme()"
    [mode]="confirmMode()"
    type="button"
    appButton
    appAutoFocus
  >
    {{ overrideConfirmLabel() || "확인" }}
  </button>
</app-bottom-actions>
