<div class="break-keep px-6 pb-6">
  <ng-content></ng-content>
</div>

<app-sheet-actions justify="right">
  @if (displayCancelButton()) {
    <button
      (click)="clickCancel.emit(); close()"
      type="button"
      class="stroke-button"
    >
      {{ overrideCancelLabel() || "취소" }}
    </button>
  }

  <button
    (click)="clickConfirm.emit(); close()"
    type="button"
    class="flat-button {{ theme() }}"
    appAutoFocus
  >
    {{ overrideConfirmLabel() || "확인" }}
  </button>
</app-sheet-actions>
