<div class="flex flex-col items-center text-center font-bold">
  <div class="text-sm">
    {{ displayDate | date: "yyyy" }}
  </div>

  <div class="text-3xl">
    {{ displayDate | date: "M" }}
  </div>
</div>

<div class="flex flex-col items-stretch gap-4">
  <div class="grid grid-cols-7 text-sm">
    @for (weekDay of WEEK_DAYS["enShort"]; track $index) {
      <div
        [ngClass]="{
          'text-rose-500': $index === 0,
          'text-blue-500': $index === 6,
          'text-black/50': $index !== 0 && $index !== 6,
        }"
        class="flex items-center justify-center uppercase"
      >
        {{ weekDay }}
      </div>
    }
  </div>

  <div class="grid grid-cols-7 gap-y-4">
    @for (calendarDate of calendarDates; track calendarDate.toDateString()) {
      <div class="relative flex h-12 items-center justify-center">
        @if (fromDate()) {
          @if (isFromDate(calendarDate)) {
            @if (!isSelectedDate(calendarDate)) {
              <div
                [ngClass]="{
                  'bg-black/5': isRangedDate(calendarDate),
                }"
                class="pointer-events-none absolute right-0 top-1/2 z-[1] h-8 w-1/2 -translate-y-1/2"
              ></div>
            }
          } @else if (isSelectedDate(calendarDate)) {
            <div
              [ngClass]="{
                'bg-black/5': isRangedDate(calendarDate),
              }"
              class="pointer-events-none absolute left-0 top-1/2 z-[1] h-8 w-1/2 -translate-y-1/2"
            ></div>
          } @else {
            <div
              [ngClass]="{
                'bg-black/5': isRangedDate(calendarDate),
              }"
              class="pointer-events-none absolute left-0 top-1/2 z-[1] h-8 w-full -translate-y-1/2"
            ></div>
          }
        } @else if (toDate()) {
          @if (isToDate(calendarDate)) {
            @if (!isSelectedDate(calendarDate)) {
              <div
                [ngClass]="{
                  'bg-black/5': isRangedDate(calendarDate),
                }"
                class="pointer-events-none absolute left-0 top-1/2 z-[1] h-8 w-1/2 -translate-y-1/2"
              ></div>
            }
          } @else if (isSelectedDate(calendarDate)) {
            <div
              [ngClass]="{
                'bg-black/5': isRangedDate(calendarDate),
              }"
              class="pointer-events-none absolute right-0 top-1/2 z-[1] h-8 w-1/2 -translate-y-1/2"
            ></div>
          } @else {
            <div
              [ngClass]="{
                'bg-black/5': isRangedDate(calendarDate),
              }"
              class="pointer-events-none absolute left-0 top-1/2 z-[1] h-8 w-full -translate-y-1/2"
            ></div>
          }
        }

        <button
          (click)="selectDate(calendarDate)"
          [disabled]="!isSelectableDate(calendarDate)"
          [ngClass]="getDateClasses(calendarDate)"
          type="button"
          tabindex="-1"
          class="relative z-[2] flex aspect-square w-full max-w-8 items-center justify-center rounded-full text-center text-sm disabled:bg-black/[0.03] disabled:text-black/15"
        >
          {{ calendarDate.getDate() }}
        </button>
      </div>
    }
  </div>
</div>

<app-overlay-actions justify="between">
  <button (click)="toPreviousMonth()" type="button" tabindex="-1" appIconButton>
    <i-lucide [img]="ChevronLeft"></i-lucide>
  </button>

  <button
    (click)="toToday()"
    [theme]="theme()"
    type="button"
    tabindex="-1"
    size="small"
    appFlatButton
  >
    <i-lucide [img]="CalendarFoldIcon" class="size-4"></i-lucide>
    오늘
  </button>

  <button (click)="toNextMonth()" type="button" tabindex="-1" appIconButton>
    <i-lucide [img]="ChevronRight"></i-lucide>
  </button>
</app-overlay-actions>
