@if (hasView) {
  @if (
    (hasBlockNode("code_block") && isCursorInCodeBlock()) || isCursorInHeading()
  ) {
    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleParagraph()
      "
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="PilcrowIcon"></i-lucide>
    </button>
  }

  @if (hasBlockNode("code_block") && isCursorInCodeBlock()) {
    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); addParagraph()
      "
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <app-icon-pilcrow-plus class="size-4"></app-icon-pilcrow-plus>
    </button>
  }

  @if (hasBlockNode("heading")) {
    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleHeading(2)
      "
      [class.is-active]="isCursorInHeading(2)"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="Heading1Icon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleHeading(3)
      "
      [class.is-active]="isCursorInHeading(3)"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="Heading2Icon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleHeading(4)
      "
      [class.is-active]="isCursorInHeading(4)"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="Heading3Icon"></i-lucide>
    </button>
  }

  @if (hasBlockNode("code_block") && !isCursorInCodeBlock()) {
    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); setCodeBlock()
      "
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="BracesIcon"></i-lucide>
    </button>
  }

  @if (hasBlockNode("blockquote")) {
    @if (isCursorInBlockquote()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); insertBlockQuote()
        "
        class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
        type="button"
      >
        <app-icon-quote-plus
          strokeWidth="1.5"
          class="size-6"
        ></app-icon-quote-plus>
      </button>

      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); unwrapBlockquote()
        "
        class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
        type="button"
      >
        <app-icon-quote-minus
          strokeWidth="1.5"
          class="size-6"
        ></app-icon-quote-minus>
      </button>
    } @else {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); insertBlockQuote()
        "
        class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
        type="button"
      >
        <i-lucide [img]="QuoteIcon"></i-lucide>
      </button>
    }
  }

  @if (
    !hasBlockNode("code_block") ||
    (hasBlockNode("code_block") && !isCursorInCodeBlock())
  ) {
    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleBold()
      "
      [class.is-active]="isBoldActive()"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="BoldIcon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleItalic()
      "
      [class.is-active]="isItalic()"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="ItalicIcon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleUnderline()
      "
      [class.is-active]="isUnderlineActive()"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="UnderlineIcon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleLineThrough()
      "
      [class.is-active]="isStrike()"
      class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
      type="button"
    >
      <i-lucide [img]="StrikethroughIcon"></i-lucide>
    </button>

    @if (isExpanded()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); toggleCode()
        "
        [class.is-active]="isCode()"
        class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
        type="button"
      >
        <i-lucide [img]="CodeIcon"></i-lucide>
      </button>
    }

    @if (isLink() || isExpanded()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); openLinkEditor()
        "
        [class.is-active]="isLink()"
        class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
        type="button"
      >
        <i-lucide [img]="LinkIcon"></i-lucide>
      </button>
    }

    @if (isLink()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); removeLink()
        "
        class="x-non-extendable relative flex w-8 items-center justify-center transition-all"
        type="button"
      >
        <i-lucide [img]="UnlinkIcon"></i-lucide>
      </button>
    }
  }
}

<ng-template #linkEditor let-url="url">
  <app-backdrop @fadeInOut></app-backdrop>

  <app-bottom-sheet
    @fadeInOut
    @slideInOutBottomFull
    class="md:max-w-sm"
    modalTitle="링크"
    displayCloseButton
  >
    <app-wysiwyg-link-editor
      (saved)="onLinkSaved($event)"
      [url]="url"
    ></app-wysiwyg-link-editor>
  </app-bottom-sheet>
</ng-template>
