@if (hasView) {
  @if (!isCursorInList()) {
    @if (
      (hasBlockNode("code_block") && isCursorInCodeBlock()) ||
      isCursorInHeading()
    ) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); toggleParagraph()
        "
        appIconButton
        class="relative *:scale-90"
        type="button"
      >
        <i-lucide [img]="PilcrowIcon"></i-lucide>
      </button>
    }

    @if (hasBlockNode("code_block") && isCursorInCodeBlock()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); addParagraph()
        "
        appIconButton
        class="relative *:scale-90"
        type="button"
      >
        <app-icon-pilcrow-plus></app-icon-pilcrow-plus>
      </button>
    }

    @if (hasBlockNode("heading")) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); toggleHeading(2)
        "
        [ngClass]="getButtonEffectClasses(isCursorInHeading(2))"
        [theme]="isCursorInHeading(2) ? theme() : 'transparent'"
        appIconButton
        class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
        type="button"
      >
        <i-lucide [img]="Heading1Icon"></i-lucide>
      </button>

      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); toggleHeading(3)
        "
        [ngClass]="getButtonEffectClasses(isCursorInHeading(3))"
        [theme]="isCursorInHeading(3) ? theme() : 'transparent'"
        appIconButton
        class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
        type="button"
      >
        <i-lucide [img]="Heading2Icon"></i-lucide>
      </button>

      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); toggleHeading(4)
        "
        [ngClass]="getButtonEffectClasses(isCursorInHeading(4))"
        [theme]="isCursorInHeading(4) ? theme() : 'transparent'"
        appIconButton
        class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
        type="button"
      >
        <i-lucide [img]="Heading3Icon"></i-lucide>
      </button>
    }

    @if (hasBlockNode("code_block") && !isCursorInCodeBlock()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); setCodeBlock()
        "
        appIconButton
        class="relative *:scale-90"
        type="button"
      >
        <i-lucide [img]="BracesIcon"></i-lucide>
      </button>
    }

    @if (hasBlockNode("blockquote")) {
      @if (isCursorInBlockquote()) {
        <button
          @fadeIn
          @slideInBottom
          (mousedown)="
            $event.stopPropagation();
            $event.preventDefault();
            insertBlockQuote()
          "
          appIconButton
          class="relative *:scale-90"
          type="button"
        >
          <app-icon-quote-plus></app-icon-quote-plus>
        </button>

        <button
          @fadeIn
          @slideInBottom
          (mousedown)="
            $event.stopPropagation();
            $event.preventDefault();
            unwrapBlockquote()
          "
          appIconButton
          class="relative *:scale-90"
          type="button"
        >
          <app-icon-quote-minus></app-icon-quote-minus>
        </button>
      } @else {
        <button
          @fadeIn
          @slideInBottom
          (mousedown)="
            $event.stopPropagation();
            $event.preventDefault();
            insertBlockQuote()
          "
          appIconButton
          class="relative *:scale-90"
          type="button"
        >
          <i-lucide [img]="QuoteIcon"></i-lucide>
        </button>
      }
    }
  }

  @if (
    !isCursorInCodeBlock() && !isCursorInHeading() && !isCursorInBlockquote()
  ) {
    @if (!isCursorInList("ordered_list")) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); insertOrderedList()
        "
        appIconButton
        type="button"
      >
        <i-lucide [img]="ListOrderedIcon"></i-lucide>
      </button>
    }

    @if (!isCursorInList("bullet_list")) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); insertBulletList()
        "
        appIconButton
        type="button"
      >
        <i-lucide [img]="ListIcon"></i-lucide>
      </button>
    }

    @if (isCursorInList("ordered_list") || isCursorInList("bullet_list")) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); outdentList()
        "
        appIconButton
        type="button"
      >
        <i-lucide [img]="IndentDecreaseIcon"></i-lucide>
      </button>

      @if (!isFirstListItem()) {
        <button
          @fadeIn
          @slideInBottom
          (mousedown)="
            $event.stopPropagation(); $event.preventDefault(); indentList()
          "
          appIconButton
          type="button"
        >
          <i-lucide [img]="IndentIncreaseIcon"></i-lucide>
        </button>
      }
    }
  }

  @if (
    !hasBlockNode("code_block") ||
    (hasBlockNode("code_block") && !isCursorInCodeBlock())
  ) {
    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleBold()
      "
      [ngClass]="getButtonEffectClasses(isBoldActive())"
      [theme]="isBoldActive() ? theme() : 'transparent'"
      appIconButton
      class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
      type="button"
    >
      <i-lucide [img]="BoldIcon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleItalic()
      "
      [ngClass]="getButtonEffectClasses(isItalic())"
      [theme]="isItalic() ? theme() : 'transparent'"
      appIconButton
      class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
      type="button"
    >
      <i-lucide [img]="ItalicIcon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleUnderline()
      "
      [ngClass]="getButtonEffectClasses(isUnderlineActive())"
      [theme]="isUnderlineActive() ? theme() : 'transparent'"
      appIconButton
      class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
      type="button"
    >
      <i-lucide [img]="UnderlineIcon"></i-lucide>
    </button>

    <button
      @fadeIn
      @slideInBottom
      (mousedown)="
        $event.stopPropagation(); $event.preventDefault(); toggleLineThrough()
      "
      [ngClass]="getButtonEffectClasses(isStrike())"
      [theme]="isStrike() ? theme() : 'transparent'"
      appIconButton
      class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
      type="button"
    >
      <i-lucide [img]="StrikethroughIcon"></i-lucide>
    </button>

    @if (isExpanded()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); toggleCode()
        "
        [ngClass]="getButtonEffectClasses(isCode())"
        [theme]="isCode() ? theme() : 'transparent'"
        appIconButton
        class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
        type="button"
      >
        <i-lucide [img]="CodeIcon"></i-lucide>
      </button>
    }

    @if (isLink() || isExpanded()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); openLinkEditor()
        "
        [ngClass]="getButtonEffectClasses(isLink())"
        [theme]="isLink() ? theme() : 'transparent'"
        appIconButton
        class="relative *:scale-90 after:absolute after:left-1/2 after:top-0.5 after:block after:size-1 after:-translate-x-1/2 after:rounded-full after:bg-current after:transition-all after:content-['']"
        type="button"
      >
        <i-lucide [img]="LinkIcon"></i-lucide>
      </button>
    }

    @if (isLink()) {
      <button
        @fadeIn
        @slideInBottom
        (mousedown)="
          $event.stopPropagation(); $event.preventDefault(); removeLink()
        "
        appIconButton
        class="relative *:scale-90"
        type="button"
      >
        <i-lucide [img]="UnlinkIcon"></i-lucide>
      </button>
    }
  }
}

<ng-template #linkEditor let-url="url">
  <app-backdrop @fadeInOut></app-backdrop>

  <app-bottom-sheet
    @fadeInOut
    @slideInOutBottomFull
    class="md:max-w-sm"
    modalTitle="링크"
    displayCloseButton
  >
    <app-wysiwyg-link-editor
      (saved)="onLinkSaved($event)"
      [url]="url"
      withBottomActionsBorder
    ></app-wysiwyg-link-editor>
  </app-bottom-sheet>
</ng-template>
