@if (modalTitle()) {
  <div
    [ngClass]="shadowClasses()"
    class="sticky top-0 z-50 hidden items-center justify-between gap-4 bg-white p-4 transition-all md:flex dark:bg-dark-background"
  >
    <div class="text-xl font-semibold">
      {{ modalTitle() }}
    </div>

    @if (displayCloseButton()) {
      <button (click)="close()" type="button" appIconButton>
        <i-lucide [img]="XIcon"></i-lucide>
      </button>
    }
  </div>
}

<div
  [ngClass]="shadowClasses()"
  class="sticky top-0 z-50 flex flex-col items-center gap-4 bg-white transition-all dark:bg-dark-background"
>
  <div
    (mousedown)="startDrag($event)"
    (touchstart)="startDrag($event)"
    class="flex items-center justify-center p-2 md:hidden"
  >
    <div class="h-1 w-8 rounded-full bg-black/10 dark:bg-white/10"></div>
  </div>

  @if (modalTitle()) {
    <div class="block w-full px-4 pb-4 text-xl font-semibold md:hidden">
      {{ modalTitle() }}
    </div>
  }
</div>

<ng-content></ng-content>
