@if (modalTitle) {
  <!-- Title container -->
  <div
    [class.shadow-lg]="isScrolled"
    class="flex-center-between sticky top-0 z-50 gap-4 bg-white p-6 transition-all dark:bg-zinc-900"
  >
    <div class="x-extendable-0 text-xl font-semibold">
      {{ modalTitle }}
    </div>

    @if (displayClose) {
      <button
        (click)="close()"
        class="icon-button button-effect-backdrop x-non-extendable"
      >
        <app-icon-x-mark class="size-5"></app-icon-x-mark>
      </button>
    }
  </div>
}

<div class="flex-col-stretch px-6 pb-6">
  <ng-content></ng-content>
</div>
